<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add a Product</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addProduct(productData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Five Star Spiral Notebook" ng-model="productData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Keep all your notes organized and secure in this durable" ng-model="productData.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input type="text" placeholder="3" ng-model="productData.amount">
        </label>
        <label class="item item-input">
          <span class="input-label">Purchase Price (US$)</span>
          <input type="text" placeholder="25.99" ng-model="productData.purchase_price">
        </label>
        <label class="item item-input">
          <span class="input-label">Selling Price (US$)</span>
          <input type="text" placeholder="29.99" ng-model="productData.selling_price">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
