<ion-view title="Customer Detail">
  <ion-nav-buttons side="right">
    <button class="right button-clear button-positive" ng-click="openCustomerModal({{ customer_id }})">Edit</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-inset">
      <div class="item">
        <b>Name:</b> {{ customer_name }}
      </div>
      <div class="item">
        <b>Address:</b> {{ customer_address }}
      </div>
      <div class="item">
        <b>Telephone:</b> {{ customer_phone }}
      </div>
      <div class="item">
        <b>Joined at:</b> {{ customer_joined }}
      </div>
  </ion-content>
</ion-view>
