<ion-view cache-view="false" title="Customers">
  <ion-nav-buttons side="right">
    <button class="right button button-icon icon ion-plus" ng-click="openCustomerModal()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="customer in customers" href="#/app/customer-detail/{{ customer.id }}">
        {{ customer.customer_name }}
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteCustomer(customer)"></ion-option-button>
      </ion-item>
      <ion-item ng-show="!customers.length">No customer :(</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
