<ion-view title="Customer Detail">
  <ion-content>
    <div class="list list-inset">
      <div class="item">
        <b>Name:</b> {{ customer_name }}
      </div>
      <div class="item">
        <b>Address:</b> {{ customer_address }}
      </div>
      <div class="item">
        <b>Telephone:</b> {{ customer_phone }}
      </div>
      <div class="item">
        <b>Joined at:</b> {{ customer_joined }}
      </div>
      <div class="item">
        <b>Updated at:</b> {{ customer_updated }}
      </div>
  </ion-content>
</ion-view>
