<ion-view cache-view="false" title="Inventory Items">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in inventory" href="#/app/item-detail/{{ item.id }}">
        {{ item.product_name }}
        <span class="badge badge-balanced">{{ item.product_amount }}</span>
        <ion-option-button class="button-assertive icon ion-android-delete" ng-click="deleteItem(item)"></ion-option-button>
      </ion-item>
      <ion-item ng-show="!inventory.length">No item :(</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
