<ion-view cache-view="false" title="Add a New Sale">
  <ion-content>
    <form name="addsales" ng-submit="addSale(saleData)">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Customer Name</span>
          <select name="customers" ng-model="saleData.customers" ng-options="customer.id as customer.name for customer in customers" required>
            <option value="">Choose customer</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Product Name</span>
          <select name="products" ng-model="saleData.products" ng-options="product.id as product.name for product in products" required>
            <option value="">Choose item</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input type="number" placeholder="2" ng-model="saleData.amount" min="1" required />
        </label>
        <label class="item item-input">
          <span class="input-label">Total Price (US$)</span>
          <input type="text" placeholder="49.99" ng-model="saleData.total_price" required />
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="addsales.$invalid">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
