<ion-view title="Add a New Sale">
  <ion-content>
    <form ng-submit="addSale(saleData)">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Customer Name</span>
          <select name="customers" ng-model="saleData.customers" ng-options="customer.id as customer.customer_name for customer in customers">
            <option value="">Choose customer</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Product Name</span>
          <select name="products" ng-model="saleData.products" ng-options="product.id as product.product_name for product in products">
            <option value="">Choose item</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input type="text" placeholder="2" ng-model="saleData.amount">
        </label>
        <label class="item item-input">
          <span class="input-label">Total Price (US$)</span>
          <input type="text" placeholder="49.99" ng-model="saleData.total_price">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
